<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge-Generator</title>
    <link href="/styles2.css" rel="stylesheet">
    <link href="/nav.css" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/433/433369.png"> 
</head> 
<body style="width: 100%;"> 
    <header class="main-head">
        <nav>
          <h1 id="logo">ABCDEFG</h1>
          <ul class="nav-links" style="color: white;">
            <li><a href="/">HOME</a></li>
            <li><a href="/badge/user">STUDENT</a></li>
            <li><a href="/badge/admin">ADMIN</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
      </header>
      <script>
        const nav = document.querySelector(".nav-links");
        const burger = document.querySelector(".burger");
        const links = nav.querySelectorAll("a");
        
        burger.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        
        links.forEach(link => {
        link.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        });
        
        </script>
<link rel="stylesheet" href="/index.css">

<div class="container">
        <h1 class="title">All Badges</h1>
    <ul>
        <% for(b of badges){ %> 
            <a href="/badge/<%=b._id%>" ><li class="lis"><%= b.name %></li></a>
         <% } %>
    </ul> 
</div>
</body>
</html>