<header class="main-head">
  <nav>
    <h1 id="logo">ABCDEFG</h1>
    <ul class="nav-links" style="color: white;">
      <li><a href="/">HOME</a></li>
      <li><a href="/badge/user">STUDENT</a></li>
      <li><a href="/badge/admin">ADMIN</a></li>
    </ul>
    <div class="burger">
      <span class="line1"></span>
      <span class="line2"></span>
      <span class="line3"></span>
    </div>
  </nav>
</header>
<script>
  const nav = document.querySelector(".nav-links");
  const burger = document.querySelector(".burger");
  const links = nav.querySelectorAll("a");
  
  burger.addEventListener("click", () => {
  nav.classList.toggle("nav-open");
  burger.classList.toggle("toggle");
  });
  
  links.forEach(link => {
  link.addEventListener("click", () => {
  nav.classList.toggle("nav-open");
  burger.classList.toggle("toggle");
  });
  });
  
  </script>