<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge-Generator</title>
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/creater.css">
    <link rel="stylesheet" href="/card.css">
    <link href="/styles2.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/nav.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js" integrity="sha512-wUa0ktp10dgVVhWdRVfcUO4vHS0ryT42WOEcXjVVF2+2rcYBKTY7Yx7JCEzjWgPV+rj2EDUr8TwsoWF6IoIOPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/433/433369.png">
   

</head>
<body style="width: 100%;">
    <%- include('../Partials/navbar')%>
    <%- body %> 
    <%- include('../Partials/footer')  %> 
    
</body>
</html>