<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge-Generator</title>
    <link href="/styles2.css" rel="stylesheet">
    <link href="/nav.css" rel="stylesheet">
    <link href="/footer.css" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/433/433369.png"> 
</head> 
<body style="width: 100%;"> 
    <header class="main-head">
        <nav>
          <div class="logo"><a href="/"><img src="/images/logo.svg"><h1>Badge-Generater</h1></a></div>
          <ul class="nav-links" style="color: white;">
            <li><a href="/">HOME</a></li>
            <li><a href="/badge/user">STUDENT</a></li>
            <li><a href="/badge/admin">ADMIN</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
      </header>
      <script>
        const nav = document.querySelector(".nav-links");
        const burger = document.querySelector(".burger");
        const links = nav.querySelectorAll("a");
        
        burger.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        
        links.forEach(link => {
        link.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        });
        
        </script>
<main>
    <link rel="stylesheet" href="/creater.css">
    <h2 class="form-title">
        Enter Credencials
    </h2>
    <form action="/badge/getBadgeadmin" style="width: 30%; margin: auto; display:block;" method="post" >
        <!-- collumn-1 -->
        <div class="col-1">
            
            <div class="rollno"><label for="rollno">Username :
                </label>
                <input type="text" placeholder="username" name="username" id=""  required/>
            </div>
            <div class="contact"><label for="contact">Password :

            </label>
                <input type="password" name="password" placeholder="password" required>
            </div>

    
            <div class="fin" style="position: inherit;">
                <input id="clear" type="reset">
                <button type="submit">Submit</button>
            </div>
    </form>
</main>
<footer id="footer">
    <h4>Badge-Generator &copy; 2021</h4>
    <div id="contri">
          <ul>
          <lh>Contriutors</lh>
          <li><a href="https://github.com/ayush572" target="_blank">Ayush Daga</a></li>
          <li><a href="https://github.com/Aniumbott" target="_blank">Aniket Rana</a></li>
          <li><a href="https://github.com/Harshil-Jani" target="_blank">Harshil Jani</a></li>
          <li><a href="https://github.com/Rameshchandrapola" target="_blank">Pola Ramesh Chandra</a></li>
          <li><a href="https://github.com/rahuljadav21" target="_blank">Rahul Jadav</a></li>
          </ul>
        </div>
  </footer>
</body>
</html>